#title-section{
    background: url("../media/forest-bg.jpeg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    width: 100%;
    height: 100vh;
}

#title-section #title-text{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    text-align: center;
    transform: translate(-50%, -50%);
}

#title-section #title-arrow{
    position: absolute;
    bottom: -7%;
    right: 0%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px 40px;
}


/* General Content Rules */
#content-body h4 {
    font-size: 24px;
    margin: 5px 0px;
}

#content-body hr {
    margin-bottom: 20px;
}

/* Section Layout  */
.row{
    display: flex; 
}

.left-column, .right-column {
    flex: 1;
}

.middle-column{
    flex: 3; 
}

.middle-column > section {
    margin: 25px 0px;
}

/* About Section */

#about-section{
    text-align: center;
}

.about-info{
    display: flex;
    flex-direction: row;
}

.headshot-backdrop{
    width: 250px;
    height: 350px;
    background-color: var(--primary);
    border-radius: 20px;
}

#about-section img {
    border-radius: 20px;
}

/* Education Section */

.res-entry{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-start;
}

/* Projects */

.grid-layout{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 20px;
}

.proj-entry {
    border-radius: 20px;
    height: 350px;
    background-color: white;
    
}

.webLink{
    
    background-color: var(--primary);
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid black;
}

.proj-entry-bg{

    background: url("../media/forest-bg.jpeg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 185px;
    border-radius: 20px 20px 0px 0px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;

    /* width: 350px; */
}

.proj-content {
    padding: 0px 10px;
    margin: 0px;
}

.proj-content > h2 {
    margin: 7px;
}

.proj-content > h2, a {
    text-align: center;
}