#title-section{
    background: url("../media/forest-bg.jpeg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    width: 100%;
    height: 100vh;
}

#title-section #title-text{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    text-align: center;
    transform: translate(-50%, -50%);
}

#title-section #title-arrow{
    position: absolute;
    bottom: -7%;
    right: 0%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px 40px;
}


#content-body{
    display: flex; 
}

#left-column, #right-column {
    flex: 1;
}

#middle-column{
    flex: 3; 
}

#content-body h4 {
    font-size: 24px;
    margin: 5px 0px;
}

#content-body hr {
    margin-bottom: 20px;
}

#about-section{
    text-align: center;
}

.about-info{
    display: flex;
    flex-direction: row;
}

.headshot-backdrop{
    width: 250px;
    height: 350px;
    background-color: var(--primary);
}