#title-section{
    background: url("../media/forest-bg.jpeg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    width: 100%;
    height: 100vh;
}

#title-section #title-text{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    text-align: center;
    transform: translate(-50%, -50%);
}

#title-section #title-arrow{
    position: absolute;
    bottom: 0%;
    right: 5%;
    background-color: white;
    width: 100px;
    height: 75px;
    border-radius: 5px;
    border-bottom: 2px solid black;
}

#title-section #title-arrow:hover{
    cursor: pointer;
}

#title-arrow img {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
      bottom: 0px;
    }
    50% {
      bottom: 10px;
    }
  }


/* General Content Rules */
#content-body h4 {
    font-size: 24px;
    margin: 5px 0px;
}

#content-body hr {
    margin-bottom: 20px;
}

.paint-bg, .contact-entry:hover, .navbar-entry-active {
    background: url("../media/brush-stroke.svg");
    background-repeat: no-repeat;
    background-size: 100% 95%;
    width: fit-content;
    margin: 0;
    padding: 8px 15px;
}

/* Section Layout  */
.row{
    /* position: relative; */
    display: flex; 
}

.left-column, .right-column {
    flex: 1;
}

.middle-column{
    flex: 3; 
}

.middle-column > section {
    margin: 55px 0px;
}

/* About Section */

#about-section{
    text-align: center;
}

.about-info{
    display: flex;
    flex-direction: row;
}

.headshot-backdrop{
    width: 250px;
    height: 350px;
    background: url("../media/forest-bg.jpeg");
    background-position: left;
    border-radius: 10px;
}

#about-section img {
    border-radius: 10px;
}

/* Education Section */

.res-entry{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-start;
}

/* Projects */

.grid-layout{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 20px;
}

#projects-section > h4 {
    padding: 20px 0px;
}

/* Contact */

#contact-section{
    color: white;
}

.contract-entry-wrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contact-entry {
    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(189, 189, 189);
    text-decoration: none;
}

.contact-entry:hover{
    color: white;
    cursor: pointer;
    padding: 0;
}

.contact-additional-info {
    color: rgb(189, 189, 189);
    text-align: center;
}

.contact-additional-info a:link,  .contact-additional-info a:visited{
    color: #6B8E23;
}