.section-title{
    display: flex;
    justify-content: center;
}
 
 .section-title h2 {
    font-size: 40px;
    background: url("../media/brush-stroke.svg");
    background-repeat: no-repeat;
    background-size: 100% 95%;
    padding: 8px 15px;
    width: fit-content;
    margin: 0;
}